@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .title-scroll-container {
    margin-right: -10px;
    position: relative;
    display: flex;
    overflow: hidden;
    transform: rotate(5.21deg) translateY(19.5vh);
  }
  
  .title-scroll > * {
    height: 12vh;
    animation: slide 10s infinite linear;
    flex-grow: 1;
  }